
.HeaderImg{
    max-width: 20px;
    height: 20px;
}
a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
.column1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.main {
    background-image: url(sushiback.png);

}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
}
.image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   
}
.image2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
}
.image3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.image4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
.image5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}


.biz1 {
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
   
}

.biz1info {
    
 border-style: solid;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}

.biz2 {
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    
}

.biz2info {
    border-style: dotted;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.biz3 {
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;

}

.biz3info {
    border-style: dotted;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.biz4 {
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;

}

.biz4info {
    border-style: dotted;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.biz5 {
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    
}

.biz5info {
    border-style: dotted;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.biz6 {
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;

}

.biz6info {
    border-style: dotted;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.footNote{
    background-color:black;
    float: center;
    color: white;
    padding-bottom: 10px;
    text-align: center;
}
.regImg{
    max-width: 30px;
    max-height: 30px;
}