body {
    background-color: #fef5cc;
    text-align: center;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}


#eatAllyouCan {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#market {
 font-size: 55px;
 text-align: center;
font-weight: bolder;
font-family: Georgia, 'Times New Roman', Times, serif;
}

#comingSoon {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hideBtn{
    align-self: center;
    align-content: center;
    color: black;
    padding: 1px;
    border: 5px;
    border-color: black;
    border-style: double;
    max-width: 4em;
    background-color: rgb(253, 253, 253);
    font-weight: bolder;
    
}
.servBox{

}

.servImg{

}

.servName{

}

.serveDetailsBox{
    

}

.servDesc{

}

.servPrice{

}

.servComment{

}

.servSelect{
    
}