body {
    
    background-image: url(./sushiback.png);
    background-size: contain;
    text-align: center;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}

.Header{
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 5px;
    color: white;
    
    
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;

}
.HeaderImg{
    max-width: 20px;
    height: 20px;
}
.Header-item{
   
    padding: 10px;
    color: white;
    display: inline;
}
.Header-link{
    color: white;
    float: center;
    display: inline;
    padding-right: 15px;
    padding-bottom: 0px;
}

.contactNameInput {
    width: 10em;
    margin: 5px;
    color: black;
}

.contactInput {
    width: 20em;
    margin: 5px;
    color: black;
}

.textarea {
    line-height: 4;
}

.servKey{
    visibility: hidden;
    

}
.servBox{
    
}

.servImg{
  

}



.servName{
font-size: 25px;
color: white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial', sans-serif;
}

.serveDetailsBox{
  font-weight: bold;
   background-color:red;
   opacity: 70%;
   color: white;
    

}

.servDesc{
    font-family: 'Times New Roman', Times, serif;
    

}



/* Styles for the Quote Page */

.getQuoteBox{
    padding: 5px;
    border: 5px;
    border-color: black;
    border-style: solid;
    background-color: white;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    float: center;
}

.finalQuoteContainer {
    align-self: center;
    align-content: center;
    text-align: center;
    width: 90%;
    margin: 5px;
    border-color: black;
    border: 0px;
    border-style: solid;
    font-size: 1.35rem;
    float: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.quoteContainer {
    font-size: 1.25rem;
    align-self: center;
    align-content: center;
    text-align: center;
    width: 90%;
    margin: 5px;
    border-color: black;
    border: 0px;
    border-style: solid;
    float: center;
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.quoteSheet {
    align-self: center;
    color: black;
    width: 100%;
    margin: 5px;
    border-color: black;
    border-style: solid;
    background-color: rgb(11, 54, 40);
}

.finalQuoteLine {
    align-self: center;
    color: black;
    width: 60%;
    margin: 5px;
    border-color: black;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    float: center;
    margin-left: auto;
    margin-right: auto;
}

.quoteLine {
    align-self: center;
    color: rgb(253, 2, 2);
    width: 60%;
    margin: 5px;
    border-color: black;
    border-style: solid;
    background-color: rgb(255, 255, 255);
    float: center;
    margin-left: auto;
    margin-right: auto;
}

.quoteCol {
   
    align-content: left;
    color: rgb(10, 10, 10);
    margin: 5px;
    border-color: rgb(94, 7, 102);
    border-style: solid;
    border-right: 2px;
    border-width: 5px;
    background-color: rgb(243, 6, 6);
    color: black;
}

.quoteImg{
    height: 3em;
    visibility: visible;
    color: black;
}
.quoteContactInfo{
    padding: 2px;
    margin: 5px;
    color: black; 


}
.footNote{
    background-color:black;
    float: center;
    color: white;
    padding-bottom: 10px;
    
}
.regImg{
    max-width: 10px;
    max-height: 10px;
}
.ContactInfoText{
    padding: 2px;
    margin: 5px;
    color: black; 


}

/* About Page CSS */
.aboutBody {
   
    text-align: center;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Times, serif;
    color:white;
}

.aboutImg{
    max-width: 150px;
    height: 125px;
    border-radius: 50%;
    float: center
    ;
    
}
p{
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.aboutDes {
    float: center;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-style: solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-weight: bold;
    background-color:red;
    opacity: 70%;
    color: white;
    width: 70%;
   
}
h2{
    float: center;
    font-size: 45px;
    font: outline;
    color: white;
}

.footNote{
    background-color:black;
    float: center;
    color: white;
    padding-bottom: 10px;
    
}
.regImg{
    max-width: 200px;
    max-height: 20px;
}

/* Portfolio CSS */

.column1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.main {
    
    background-image: url(Assets/sushiback.png);
    background-size: contain;

}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
}
.image1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   
}
.image2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
}
.image3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.image4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
.image5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}


.biz1 {
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial', sans-serif;
}

.biz1info {
 padding: 10px;   
 border-style: solid;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
 font-weight: bold;
 background-color:red;
 opacity: 70%;
 color: white
 
}

.biz2 {
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial', sans-serif;
} 

.biz2info {
    border-style: solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
   font-weight: bold;
    background-color:red;
    opacity: 70%;
    color: white
}

.biz3 {
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial', sans-serif;

}

.biz3info {
    border-style: solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    background-color:red;
    opacity: 70%;
     color: white
}


.biz4 {
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial', sans-serif;

}

.biz4info {
    border-style: solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    background-color:red;
    opacity: 70%;
    color: white
}


.biz5 {
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial', sans-serif;
    
}

.biz5info {
    border-style: solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    background-color:red;
     opacity: 70%;
    color: white

}

.biz6 {
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial', sans-serif;

}

.biz6info {
    border-style: solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    background-color:red;
    opacity: 70%;
    color: white
 
}

.bizinfo {
    padding: 10px;   
    border-style: solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    background-color:red;
    opacity: 70%;
    color: white
    
   }


.footNote{
    background-color:black;
    float: center;
    color: white;
    padding-bottom: 10px;
    text-align: center;
}
.regImg{
    max-width: 30px;
    max-height: 30px;
}
.serveDetailsBox{
   padding: 20px;
    font-weight: bold;
   background-color:red;
   opacity: 70%;
   min-height: 200px;
   max-width: 30rem;
   color: white;
   font-size: 16px;
}

.servPrice {
    color: black;
    padding: 2px;
    font-weight: bolder;
}

#whoaThere{
    z-index: -4;
    align-self: center;
    align-self: center;
    text-align: center;
   
    
}

.whoaContainer {
    z-index: -4;
    width: 100%;
    float: center;
    color: black;
    margin-left: inherit;
    margin-right: inherit;
